.table {
    width: auto;
  }
  
  .NhanVien .header {
    background-color: rgb(91, 91, 91);
    box-shadow: 2px 2px 3px rgb(228, 228, 228);
  }
  
  .NhanVien .container {
    border: 1px solid rgb(224, 224, 224);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(228, 228, 228);
  }
  
  .NhanVien .header .title {
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 20px;
  }
  
  .NhanVien .container .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  .NhanVien .container .table{
    margin-bottom: 20px;
  }
  
  .table .table-light th {
    white-space: nowrap;
    align-items: center;
    text-align: center;
  }
  .table .tbody td {
    white-space: nowrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
  }
  
  .NhanVien .container .search {
    display: flex;
  }
  
  .NhanVien .container .d-flex button {
    position: absolute;
    right: 270px;
    top: 120px;
    display: flex;
    cursor: pointer;
    align-items: center;
    background-color: rgb(235, 235, 235);
  }
  .NhanVien .container .d-flex .excel{
    position: absolute;
    right: 230px;
  }
  .NhanVien .container .search .icon {
    margin-right: 10px;
  }
  
  .NhanVien .container .search .input {
    margin-bottom: 30px;
    width: 300px;
    outline: none;
  }
  
  .NhanVien .container .page{
    margin-left: 990px;
  }
  
  .NhanVien .container .d-flex .input{
    padding: 6px;
    margin-right: 8px;
  }
  
  
  