.KhachHang .container form button {
  position: absolute;
  right: 150px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.KhachHang .container button {
  margin-top: 10px;
}
.KhachHang .container form .edit .btn {
  margin-top: 540px;
}
