.NhanVien .container .form button {
  position: absolute;
  right: 150px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.flex-1 .NhanVien .container .edit .btn {
  margin-top: 570px;
}
